.board {
    background: green;
    width: 50vw;
    height: 60vh;
}



.row {
    height: 10%;
    min-height: 10%;
    display: flex;
    justify-content: center;
    margin: 1%;
}

.number {
    height: 100%;
    width: 8%;
    background: blue;
    margin: 1%;
}

.empty{
    background: lightblue;
}

.StatusText{
    color:lightblue;
}