.board {
    background: grey;
    width: 400px;
    height: 400px;
}



.row {
    height: 10%;
    min-height: 10%;
    display: flex;
    justify-content: center;
    margin: 1%;
}

.number {
    height: 100%;
    width: 6%;
    background: blue;
    margin: 1%;
}

.emptynumber{
    background: lightblue;
}

.StatusText{
    color:lightblue;
}